apiVersion: clusterlabs.org/v1alpha1
kind: ReplicatedStatefulSet
metadata:
  name: {{ service_name }}
  labels:
    kind: galera
spec:
  replicas: {{ service_replicas }}
  serviceAccountName: '{{ service_account }}'
  servicePorts:
  - name: galera
    protocol: TCP
    port: 3306
    targetPort: 3306
  pod:
    antiAffinity: true
    commands:
      sequence: 
        timeout: 20s
        command: ["/sequence.sh"]
      primary: 
        command: ["/start.sh"]
      seed: 
        command: ["/seed.sh"]
      status: 
        timeout: 2m
        command: ["/check.sh"]
      stop: 
        command: ["/stop.sh"]
    volumeClaimTemplates:
    - metadata:
        name: '{{ service_name }}-{{ deployment_type }}-data'
      spec:
        accessModes: [ "ReadWriteOnce" ]
        #storageClassName: my-storage-class
        resources:
          requests:
            storage: {{ volume_size }}
    - metadata:
        name: '{{ service_name }}-{{ deployment_type }}-logs'
      spec:
        accessModes: [ "ReadWriteOnce" ]
        #storageClassName: my-storage-class
        resources:
          requests:
            storage: 1Gi
    securityContext:
      runAsUser: 27
      supplementalGroups: [ 0 ]
    containers:
    - name: {{ service_name }}
      image: {{ galera_image }}
      imagePullPolicy: Always
      lifecycle:
        preStop:
            exec:
              command: ["/stop.sh"]
      env:
        - name: MYSQL_DATABASE
          value: '{{ mysql_database }}'
        - name: MYSQL_USER
          value: '{{ mysql_user }}'
        - name: MYSQL_PASSWORD
          value: '{{ mysql_password }}'
      volumeMounts:
      - mountPath: /var/lib/mysql
        name: '{{ service_name }}-{{ deployment_type }}-logs'
      - mountPath: /var/log
        name: '{{ service_name }}-{{ deployment_type }}-logs'
      ports:
      - containerPort: 3306
        name: galera
        protocol: TCP
      - containerPort: 4567
        name: galera-tcp-rep
        protocol: TCP
      - containerPort: 4567
        name: galera-udp-rep
        protocol: UDP
      - containerPort: 4568
        name: galera-state
        protocol: TCP
      - containerPort: 4444
        name: galera-snap
        protocol: TCP
        # http://galeracluster.com/documentation-webpages/firewallsettings.html
        # 3306 For MySQL client connections and State Snapshot Transfer that use the mysqldump method.
        # 4567 For Galera Cluster replication traffic, multicast replication uses both UDP transport and TCP on this port.
        # 4568 For Incremental State Transfer.
        # 4444 For all other State Snapshot Transfer.
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ service_name }}
  name:  {{ service_name }}
spec:
  publishNotReadyAddresses: true
  externalTrafficPolicy: Local
  sessionAffinity: ClientIP
  type: LoadBalancer
  selector:
    app: {{ service_name }}
    rss-active-member: "true"
  ports:
  - name: galera
    port: 3306
    protocol: TCP
    targetPort: 3306
